body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

@media (max-width: 576px) {
  body,
  html {
    overflow-x: hidden;
  }

  .col-12 {
    min-width: 313px !important;
  }

  h3,
  button {
    white-space: nowrap;
  }

  .container-login {
    width: 100% !important;
  }

  .content {
    padding: 0 0 0 1.5rem !important;
    margin-left: 0px !important;
  }

  .sidebar-header {
    left: 0 !important;
  }

  .sidebar {
    left: -250px !important;
  }

  #sidebar-check:checked ~ .sidebar {
    left: 0px !important;
  }
  
  #sidebar-check:checked ~ .content {
    margin-left: 250px !important;
  }
  
  #sidebar-check:checked ~ .sidebar-header {
    left: 250px !important;
  }
}

a:hover {
  text-decoration: none;
}

.p-none {
  padding: 0 !important;
  margin: 0 !important;
}

/*
Background*/
.bg-login {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/background-login.jpg") center center no-repeat !important;
  background-size: cover !important;
}

.bg-not-found {
  background: url("../img/not-found.svg") center center no-repeat !important;
  background-size: 30% !important;
}

/*
Animation*/
.anime-left {
  opacity: 0;
  transform: translateX(-20px);
  animation: anime-left 0.3s forwards;
}

@keyframes anime-left {
  to {
    opacity: 1;
    transform: initial;
  }
}

/*
Sidebar*/
.sidebar {
  background: #363740;
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
}

.sidebar a {
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.side-item {
  padding-left: 40px;
  padding-right: 40px;
  color: #60626e;
}

.side-item:hover,
.side-item-active {
  color: white;
  background: #414349;
  border-left: 3px solid #dde2ff;
  padding-left: 37px;
}

.sidebar i {
  padding-right: 15px;
}

.content {
  margin-left: 250px;
  margin-top: 7rem;
  padding: 0 1.5rem !important;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.sidebar-header {
  position: fixed;
  top: 0;
  left: 250px;
  height: 50px;
  padding-top: 7px;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
  width: 100%;
  z-index: 99;
}

#sidebar-check {
  display: none;
}

#sidebar-btn {
  cursor: pointer;
}

#sidebar-check:checked ~ .sidebar {
  left: -250px;
}

#sidebar-check:checked ~ .content {
  margin-left: -1px;
}

#sidebar-check:checked ~ .sidebar-header {
  left: 0;
}

/*
Table*/
.table {
  border-color: #e0e0e0 !important;
}

th {
  font-weight: bold !important;
}

.img-house {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

/*
Form*/
textarea {
  resize: none;
  height: 15.9rem !important;
}

.form-file {
  padding-bottom: 2.4rem !important;
}

.form-file label {
  height: 2.4rem !important;
}

/*
Modal*/
.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

/*
Modal*/
#map,
#photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*
Dropdown*/
.dropdown-item {
  cursor: pointer;
}
