<div class="modal fade" id="modalMap" tabindex="-1" aria-labelledby="modalMapLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="modalMapLabel">Selecione um endereço</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body h-100 p-none">
                <div id="map"></div>
            </div>

            <div class="modal-footer bg-info">
                <a href="#" class="text-white" onclick="preencherLatLng()" data-dismiss="modal">
                    <strong>Selecionar</strong>
                </a>
            </div>
        </div>
    </div>
</div>
