<input type="checkbox" id="sidebar-check">

<div class="sidebar-header bg-light">
    <label for="sidebar-check">
        <i class="fas fa-bars fa-lg" id="sidebar-btn"></i>
    </label>
</div>

<div class="sidebar">
    <center>
        <a href="/">
            <img src="{{ url_for('static', filename='img/icon.jpg') }}" width="150">
        </a>
    </center>

    <a class="side-item mt-3" href="/corretores"><i class="fas fa-user"></i><span>Corretores</span></a>
    <a class="side-item" href="/imoveis"><i class="fas fa-home"></i><span>Imóveis</span></a>
    <a class="side-item" href="/visitas"><i class="fas fa-cube"></i><span>Visitas</span></a>

    <div class="dropdown-divider"></div>

    <a class="side-item" href="#"><i class="fas fa-cog"></i><span>Configurações</span></a>

    <a href="/logout" class="mt-5 px-3">
        <button class="btn btn-light btn-lg btn-block">Sair</button>
    </a>
</div>

<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>