{% extends 'layout.html' %}
{% block title %}{{ super() }}Redefinir senha{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

<div class="h-100 d-flex anime-left">
    <div class="d-flex align-items-center justify-content-center w-100 col-12 col-sm-6 flex-column">
        <div class="w-75 px-sm-5 container-login">
            <div>
                <h2 class="mb-4 pt-5">Encontre agora mesmo os melhores imóveis.</h2>

                <p class="mb-5">Informe a sua nova senha.</p>

                {% if messages %}
                {% for category, message in messages %}
                    <p class="text-{{ category }}">
                        <i class="fas fa-exclamation-circle"></i>
                        <small>{{ message }}</small>
                    </p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

            <form method="POST" id="formAlterar">
                <div class="form-group">
                    <div class="form-outline">
                        <input type="password" name="senha" id="senha" class="form-control" required />
                        <label class="form-label" for="senha">Senha</label>
                    </div>
                </div>

                <button class="btn btn-warning mt-5">Salvar</button>
            </form>
        </div>
    </div>

    <div class="d-none d-sm-block col-sm-6 bg-login">
    </div>
</div>

<script>
    const urlString = window.location.href;
    const url = new URL(urlString)
    const path = url.pathname.split("/")
    const form = document.getElementById("formAlterar")

    form.setAttribute("action", `/alterar-senha/${path[2]}`)
</script>

{% endblock %}