{% extends 'layout.html' %}
{% block title %}{{ super() }}Imóveis{% endblock %}

{% block content %}
{% include 'partials/sidebar.html' %}

{% if refresh %}
<script>
    window.location.reload(true);
</script>
{% endif %}

<div class="content anime-left h-100">
    <div class="px-4 h-100">
        <h3 class="mt-4">
            <strong>Imóveis</strong>
        </h3>

        <a href="/imoveis/cadastrar">
            <button class="btn btn-warning mt-5">
                Cadastrar<i class="fas fa-angle-double-right ml-1"></i>
            </button>
        </a>

        {% if imoveis %}
        <table class="mt-5 table table-bordered">
            <thead>
                <th class="text-center">Capa</th>
                <th>Endereço</th>
                <th>Tamanho</th>
                <th>Descrição</th>
                <th class="text-center"><i class="fas fa-cog"></i></th>
            </thead>

            <tbody>
                {% for imovel in imoveis %}
                <tr>
                    {% if imovel.capa %}
                    <td class="text-center align-middle">
                        <img class="img-house" src="/static/uploads/capas/{{ imovel.capa }}"
                            alt="Foto de capa">
                    </td>
                    {% else %}
                    <td class="text-center align-middle"><i class="fas fa-file-image fa-2x"></i></td>
                    {% endif %}

                    <td class="align-middle">{{ imovel.endereco }}</td>
                    <td class="align-middle">{{ imovel.tamanho }}m²</td>
                    <td class="align-middle">{{ imovel.descricao }}</td>
                    <td class="text-center align-middle">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                Ver mais
                            </button>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/imoveis/editar/{{ imovel.id }}">
                                        <i class="fas fa-edit mr-2"></i>Editar
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="/imoveis/informacoes/{{ imovel.id }}">
                                        <i class="far fa-life-ring mr-2"></i>Informações
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#" onclick="apagarImovel('{{ imovel.id }}')">
                                        <i class="fas fa-trash-alt mr-2"></i>Apagar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="col-12 h-50 bg-not-found mt-5">
        </div>
        <p class="lead text-center">
            <strong>Nenhum registro encontrado</strong>
        </p>
        {% endif %}
    </div>

</div>

<script src="{{ url_for('static', filename='js/imoveis.js') }}"></script>
{% endblock %}