{% extends 'layout.html' %}
{% block title %}{{ super() }}Visitas{% endblock %}

{% block content %}
{% include 'partials/sidebar.html' %}

<div class="content anime-left h-100">
    <div class="px-4 h-100">
        <h3 class="mt-4">
            <strong>Visitas</strong>
        </h3>

        <a href="/visitas/cadastrar">
            <button class="btn btn-warning mt-5">
                Cadastrar<i class="fas fa-angle-double-right ml-1"></i>
            </button>
        </a>

        {% if visitas %}
        <table class="mt-5 table table-bordered">
            <thead>
                <th class="text-center">Imóvel</th>
                <th>Corretor</th>
                <th>Dia</th>
                <th>Cliente</th>
                <th>Telefone</th>
                <th class="text-center"><i class="fas fa-cog"></i></th>
            </thead>

            <tbody>
                {% for visita in visitas %}
                <tr>
                    {% if visita.capa %}
                    <td class="text-center align-middle">
                        <img class="img-house" src="/static/uploads/capas/{{ visita.capa }}" alt="Foto de capa">
                    </td>
                    {% else %}
                    <td class="text-center align-middle"><i class="fas fa-file-image fa-2x"></i></td>
                    {% endif %}

                    <td class="align-middle">{{ visita.nome_corretor }}</td>
                    <td class="align-middle">{{ visita.dia_formatado }}</td>
                    <td class="align-middle">{{ visita.nome_cliente }}</td>
                    <td class="align-middle">{{ visita.telefone_cliente }}</td>
                    <td class="text-center align-middle">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                Ver mais
                            </button>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/visitas/editar/{{ visita.id }}">
                                        <i class="fas fa-edit mr-2"></i>Editar
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#" onclick="apagarVisita('{{ visita.id }}')">
                                        <i class="fas fa-trash-alt mr-2"></i>Apagar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="col-12 h-50 bg-not-found mt-5">
        </div>
        <p class="lead text-center">
            <strong>Nenhum registro encontrado</strong>
        </p>
        {% endif %}
    </div>

</div>

<script src="{{ url_for('static', filename='js/visitas.js') }}"></script>
{% endblock %}